html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, button
  font-weight inherit
  font-style inherit
  font-family inherit
  font-size 100%
  vertical-align baseline
  margin 0
  padding 0
  box-sizing border-box

html
  scroll-behavior smooth

body
  margin 0
  font-family 'Gotham A', 'Gotham B', 'Gotham', 'Open Sans', sans-serif
  font-size 16px
  -webkit-font-smoothing antialiased

button
  border none
  background-color transparent
  color inherit

a
  text-decoration none
  color inherit

strong
  font-weight bold

ul li
  list-style none

:root
  --accent #5064FB
  --color-dark #161931

.icon.outbound
  display none

// Text that is hidden but accessible
// Ref: http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
.clip
  position fixed !important
  _position absolute !important
  clip rect(1px, 1px, 1px, 1px)
