/*

   Tachyons
   COLOR VARIABLES

   Grayscale
   - Solids
   - Transparencies
   Colors
   Utility

*/

:root
  --black #000
  --near-black #0D0D0D
  --dark-gray #2E2D2D
  --white #FFFFFF
  --white-700 rgba(255, 255, 255, 0.75)

  --transparent transparent

  --link #40B3FF
